<div class="swiper-wrapper">
  {{yield}}
</div>

{{#if pagination}}
  <div class="swiper-pagination {{paginationCls}}"></div>
{{/if}}

{{#if navigation}}
  <div class="swiper-button-next {{navigationCls}}"></div>
  <div class="swiper-button-prev {{navigationCls}}"></div>
{{/if}}
